{% include "base.html" %}
{% load static %}
{% block content %}
<section>
            
    <div class="second-section-container">
        <!--Upper side of First section-->
        <div class="upper-container">

            <!--First content-->
           <div class="packaging">
             <div>
              <img src="{% static 'logistic-landing-page-2/images/depositphotos_241349836-stock-illustration-hand-truck-cardboard-boxes-flat.jpg'%}" alt="Package">
             </div>

             <div class="packaging-sub">
               <h2>Packaging</h2>
               <h3> Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Quidem laudantium ad ea voluptas, libero doloribus iste consequatur
                fugit nihil velit, magnam unde quo repellat eligendi rem similique ipsam iure illum.
               </h3>
               <h4>Learn More &#8594 </h4>
             </div>
               
           </div>

           <!--Second content-->
           <div class="dispatch">
             <div>
              <img src="{% static 'logistic-landing-page-2/images/dispatch.png' %}" alt="Dispatch">
             </div>

             <div class="dispatch-sub">
               <h2>Delivery</h2>
               <h3> Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
               Quidem laudantium ad ea voluptas, libero doloribus iste consequatur
               fugit nihil velit, magnam unde quo repellat eligendi rem similique ipsam iure illum.
               </h3>
               <h4>Learn More &#8594 </h4>
             </div>
              
          </div>
           <!--Third content-->
           <div class="delivery">
             <div>
              <img src="{% static 'logistic-landing-page-2/images/cartoon-truck-and-cargo-boxes_2716645.png!f305cw' %}" alt="Delivery">
             </div>

             <div class="delivery-sub">
              <h2>Dispatch</h2>
              <h3> Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
               Quidem laudantium ad ea voluptas, libero doloribus iste consequatur
               fugit nihil velit, magnam unde quo repellat eligendi rem similique ipsam iure illum.
              </h3>
              <h4>Learn More &#8594 </h4>
            </div>
        </div>       
       </div>

         <!--Lower side of First section-->
       <div class="lower-section-container">
                <!--right content on the lower side of First section-->
             <!--left content on the lower side of the first section-->
             <div class="lower-sec-left">
                <!--First content-->
                <div>
                    <h1> About Us</h1>
                    <p>fugit nihil velit, magnam unde quo repellat ,<br>
                        magnam unde quo repellat eligendi rem similique ipsam iure illum
                    </p>
                </div>
                <!--second content-->
                <div>
                    <div> <img src="" alt=""> </div>
                    <div>
                        <h3>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit 
                        </h3>

                        <h5>
                            Quidem laudantium ad ea voluptas, libero doloribus iste consequatur
                            fugit nihil velit, magnam
                        </h5>
                    </div>
                </div>

                <div>
                    <div> <img src="" alt=""> </div>
                    <div>
                        <h3>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit 
                        </h3>

                        <h5>
                            Quidem laudantium ad ea voluptas, libero doloribus iste consequatur
                            fugit nihil velit, magnam
                        </h5>
                    </div>
                </div>

                <div>
                    <div> <img src="" alt=""> </div>
                    <div>
                        <h3>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit 
                        </h3>

                        <h5>
                            Quidem laudantium ad ea voluptas, libero doloribus iste consequatur
                            fugit nihil velit, magnam
                        </h5>
                    </div>
                </div>    
            </div>

            <div class="lower-section-sub">
                <div>
                   <video controls>
                    <source src="{% static 'logistic-landing-page-2/video/mixkit-hong-kong-cranes-a-container-port-working-31094-medium.mp4'%}" type="video/mp4">
                   </video>
                </div>
                <!--right content ends-->

               
           </div>
                
                <!--left content ends-->
     
</div>
    
</section>
{% endblock content %}