{% include "base.html" %}
{% load static %}
{% block content %}
<section>
    <h1>PRICING</h1>
    <div>
        <div>
            <h3>Free Plan</h3>
            <p> 
                <sup>$</sup>0/month
            </p>
            <ul>
                <li> magnam unde quo</li>
                <li> magnam unde quo</li>
                <li> magnam unde quo</li>
                <li> magnam unde quo</li>
                <li> magnam unde quo</li>
                <li> magnam unde quo</li>
            </ul>
            <button>Buy Now</button>
        </div>

        <div>
            <h3>Free Plan</h3>
            <p> 
                <sup>$</sup>50/month
            </p>
            <ul>
                <li> magnam unde quo</li>
                <li> magnam unde quo</li>
                <li> magnam unde quo</li>
                <li> magnam unde quo</li>
                <li> magnam unde quo</li>
                <li> magnam unde quo</li>
            </ul>
            <button>Buy Now</button>
        </div>

        <div>
            <h3>Free Plan</h3>
            <p> 
                <sup>$</sup>49/month
            </p>
            <ul>
                <li> magnam unde quo</li>
                <li> magnam unde quo</li>
                <li> magnam unde quo</li>
                <li> magnam unde quo</li>
                <li> magnam unde quo</li>
                <li> magnam unde quo</li>
            </ul>
            <button>Buy Now</button>
        </div>

    </div>
</section>

{% endblock content %}